In [9]:
import requests

In [39]:
for i in range(1,51):
    a = requests.get(f"https://books.toscrape.com/catalogue/page-{i}.html")
    with open(f"htmls/page{i}.html" , "w" , encoding = "utf-8") as file:
        file.write(a.text)
        print(f"Downloaded Page {i} Succesfully")

Downloaded Page 1 Succesfully
Downloaded Page 2 Succesfully
Downloaded Page 3 Succesfully
Downloaded Page 4 Succesfully
Downloaded Page 5 Succesfully
Downloaded Page 6 Succesfully
Downloaded Page 7 Succesfully
Downloaded Page 8 Succesfully
Downloaded Page 9 Succesfully
Downloaded Page 10 Succesfully
Downloaded Page 11 Succesfully
Downloaded Page 12 Succesfully
Downloaded Page 13 Succesfully
Downloaded Page 14 Succesfully
Downloaded Page 15 Succesfully
Downloaded Page 16 Succesfully
Downloaded Page 17 Succesfully
Downloaded Page 18 Succesfully
Downloaded Page 19 Succesfully
Downloaded Page 20 Succesfully
Downloaded Page 21 Succesfully
Downloaded Page 22 Succesfully
Downloaded Page 23 Succesfully
Downloaded Page 24 Succesfully
Downloaded Page 25 Succesfully
Downloaded Page 26 Succesfully
Downloaded Page 27 Succesfully
Downloaded Page 28 Succesfully
Downloaded Page 29 Succesfully
Downloaded Page 30 Succesfully
Downloaded Page 31 Succesfully
Downloaded Page 32 Succesfully
Downloaded Page 33 Succesfully
Downloaded Page 34 Succesfully
Downloaded Page 35 Succesfully
Downloaded Page 36 Succesfully
Downloaded Page 37 Succesfully
Downloaded Page 38 Succesfully
Downloaded Page 39 Succesfully
Downloaded Page 40 Succesfully
Downloaded Page 41 Succesfully
Downloaded Page 42 Succesfully
Downloaded Page 43 Succesfully
Downloaded Page 44 Succesfully
Downloaded Page 45 Succesfully
Downloaded Page 46 Succesfully
Downloaded Page 47 Succesfully
Downloaded Page 48 Succesfully
Downloaded Page 49 Succesfully
Downloaded Page 50 Succesfully

In [26]:
if a.status_code == 200:
    print("File Fetched Succesfully")
else:
    print("File Doesn't Fetched Succesfully")

File Fetched Succesfully

In [150]:
from bs4 import BeautifulSoup

with open("htmls/page1.html","r", encoding="utf-8") as f:
    content = f.read()
    
soup = BeautifulSoup(content, "html.parser")

In [152]:
article = soup.find_all("article",class_="product_pod")

In [266]:
items = []
for art in article:
    title = art.find("h3").find("a")["title"]
    price = art.select_one("p.price_color").text.split("Â£")[1]
    availability = art.select_one("p.instock.availability").text.strip()
    rating_star = art.select_one("p.star-rating")
    rating = rating_star["class"][1]
    items.append([title , price , availability , rating])

In [268]:
items

[['A Light in the Attic', '51.77', 'In stock', 'Three'],
 ['Tipping the Velvet', '53.74', 'In stock', 'One'],
 ['Soumission', '50.10', 'In stock', 'One'],
 ['Sharp Objects', '47.82', 'In stock', 'Four'],
 ['Sapiens: A Brief History of Humankind', '54.23', 'In stock', 'Five'],
 ['The Requiem Red', '22.65', 'In stock', 'One'],
 ['The Dirty Little Secrets of Getting Your Dream Job',
  '33.34',
  'In stock',
  'Four'],
 ['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
  '17.93',
  'In stock',
  'Three'],
 ['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
  '22.60',
  'In stock',
  'Four'],
 ['The Black Maria', '52.15', 'In stock', 'One'],
 ['Starving Hearts (Triangular Trade Trilogy, #1)',
  '13.99',
  'In stock',
  'Two'],
 ["Shakespeare's Sonnets", '20.66', 'In stock', 'Four'],
 ['Set Me Free', '17.46', 'In stock', 'Five'],
 ["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
  '52.29',
  'In stock',
  'Five'],
 ['Rip it Up and Start Again', '35.02', 'In stock', 'Five'],
 ['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
  '57.25',
  'In stock',
  'Three'],
 ['Olio', '23.88', 'In stock', 'One'],
 ['Mesaerion: The Best Science Fiction Stories 1800-1849',
  '37.59',
  'In stock',
  'One'],
 ['Libertarianism for Beginners', '51.33', 'In stock', 'Two'],
 ["It's Only the Himalayas", '45.17', 'In stock', 'Two']]

In [270]:
import pandas as pd

In [272]:
df = pd.DataFrame(items , columns=['Book_Title','Price','Availability', 'rating'])

In [274]:
df.columns

Index(['Book_Title', 'Price', 'Availability', 'rating'], dtype='object')

In [276]:
df

,Book_Title,Price,Availability,rating
0,A Light in the Attic,51.77,In stock,Three
1,Tipping the Velvet,53.74,In stock,One
2,Soumission,50.10,In stock,One
3,Sharp Objects,47.82,In stock,Four
4,Sapiens: A Brief History of Humankind,54.23,In stock,Five
5,The Requiem Red,22.65,In stock,One
6,The Dirty Little Secrets of Getting Your Dream...,33.34,In stock,Four
7,The Coming Woman: A Novel Based on the Life of...,17.93,In stock,Three
8,The Boys in the Boat: Nine Americans and Their...,22.60,In stock,Four
9,The Black Maria,52.15,In stock,One
10,"Starving Hearts (Triangular Trade Trilogy, #1)",13.99,In stock,Two
11,Shakespeare's Sonnets,20.66,In stock,Four
12,Set Me Free,17.46,In stock,Five
13,Scott Pilgrim's Precious Little Life (Scott Pi...,52.29,In stock,Five
14,Rip it Up and Start Again,35.02,In stock,Five
15,Our Band Could Be Your Life: Scenes from the A...,57.25,In stock,Three
16,Olio,23.88,In stock,One
17,Mesaerion: The Best Science Fiction Stories 18...,37.59,In stock,One
18,Libertarianism for Beginners,51.33,In stock,Two
19,It's Only the Himalayas,45.17,In stock,Two

In [ ]:
df.to_csv("data.csv" , index = False)

In [378]:
data = pd.read_csv("data.csv")

In [380]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Book_Title    20 non-null     object
 1   Price         20 non-null     float64
 2   Availability  20 non-null     object
 3   rating        20 non-null     object
dtypes: float64(1), object(3)
memory usage: 772.0+ bytes

In [382]:
data.describe()

           Price
count  20.000000
mean   38.048500
std    15.135231
min    13.990000
25%    22.637500
50%    41.380000
75%    51.865000
max    57.250000

In [399]:
rating_map = {
    'One': 1,
    'Two': 2,
    'Three': 3,
    'Four': 4,
    'Five': 5
}

In [405]:
data['rating'] = data['rating'].map(rating_map)

In [407]:
data

,Book_Title,Price,Availability,rating
0,A Light in the Attic,51.77,In stock,3
1,Tipping the Velvet,53.74,In stock,1
2,Soumission,50.10,In stock,1
3,Sharp Objects,47.82,In stock,4
4,Sapiens: A Brief History of Humankind,54.23,In stock,5
5,The Requiem Red,22.65,In stock,1
6,The Dirty Little Secrets of Getting Your Dream...,33.34,In stock,4
7,The Coming Woman: A Novel Based on the Life of...,17.93,In stock,3
8,The Boys in the Boat: Nine Americans and Their...,22.60,In stock,4
9,The Black Maria,52.15,In stock,1
10,"Starving Hearts (Triangular Trade Trilogy, #1)",13.99,In stock,2
11,Shakespeare's Sonnets,20.66,In stock,4
12,Set Me Free,17.46,In stock,5
13,Scott Pilgrim's Precious Little Life (Scott Pi...,52.29,In stock,5
14,Rip it Up and Start Again,35.02,In stock,5
15,Our Band Could Be Your Life: Scenes from the A...,57.25,In stock,3
16,Olio,23.88,In stock,1
17,Mesaerion: The Best Science Fiction Stories 18...,37.59,In stock,1
18,Libertarianism for Beginners,51.33,In stock,2
19,It's Only the Himalayas,45.17,In stock,2